@font-face {
    font-family: 'courier';
    src: url('courier_new-webfont.eot');
    src: url('courier_new-webfont.eot?#iefix') format('embedded-opentype'),
         url('courier_new-webfont.woff') format('woff'),
         url('courier_new-webfont.ttf') format('truetype'),
         url('courier_new-webfont.svg#CourierNewRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'mentone';
    src: url('mentone-semibol-webfont.eot');
    src: url('mentone-semibol-webfont.eot?#iefix') format('embedded-opentype'),
         url('mentone-semibol-webfont.woff') format('woff'),
         url('mentone-semibol-webfont.ttf') format('truetype'),
         url('mentone-semibol-webfont.svg#MentoneSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

