@charset "utf-8";
/*-----------------------------------------------
 * Desenvolvido por Zigotto.com.br - 2011 -------
 * contato@zigotto.com.br | +55 (12) 3942.8874 --
 * ---------------------------------------------*/

@import url("../font-face/font.css");

/*
 * Reference
 * ----------------------------------------------
 *
 * 01 - Global
 * 02 - Header
 * 03 - Page Home Event
 *
 * -----------------------------------------------*/

/*
 * 01 - Global
 * ----------------------------------------------*/
* { margin: 0; padding: 0; outline: none; }
body { background: url(../../images/bg/body.png) fixed; font: 15px/150% "Helvetica", Arial, Verdana; color: #333; text-shadow: 0 1px 0 #fff; }
a { text-decoration: none; color: #666; }
.clearfix { clear: both; display: block; }
h1 { font: 22px/100% 'courier', Helvetica, Arial; color: #000; margin-bottom: 10px; letter-spacing: -2px; }
h2 { font: 20px/100% 'courier', Helvetica, Arial; color: #333; margin-bottom: 5px; letter-spacing: -2px; }
h3 { font: 18px/100% 'courier', Helvetica, Arial; color: #333; margin-bottom: 5px; letter-spacing: -2px; }
h4 { font: 16px/100% 'courier', Helvetica, Arial; color: #333; margin-bottom: 5px; letter-spacing: -2px; }
li { list-style: none; }



/*
 * 02 - Header
 * ----------------------------------------------*/
div#header { width: 100%; height: 130px; position: absolute; top: 0; z-index: 1; position: fixed; background: url(../../images/bg/header.png) no-repeat center; }
div#header div.container { width: 1000px; margin: auto; }
div#header div.container div.nav { width: 880px; height: 80px; float: left; margin: 5px 0 5px 60px; }
div#header div.container div.nav a { width: 150px; height: 42px; padding-top: 28px; float: left; background: url(../../images/nav/header.png) top no-repeat; margin: 5px 10px 0 10px; text-align: center; letter-spacing: -1px; font: 18px/100% 'courier', Helvetica, Arial, Verdana; color: #000;}
div#header div.container div.nav a:hover { background: url(../../images/nav/header.png) bottom no-repeat; color: #00aeef; }
div#header div.container div.brand { width: 200px; height: 80px; float: left; }
div#header div.container div.social-media { width: 385px; float: left; text-align: center; padding: 0 0 0 15px; }
div#header div.container div.social-media span { height: 24px; float: left; }
div#header div.container div.social-media span.google { width: 75px; height: 24px; float: left; }
div#header div.container div.contact { width: 400px; padding-right: 15px;  float: right; text-align: right; color: #666; }
div#header div.container div.contact a { color: #000; border-bottom: dashed 1px #ccc; }
div#header div.container div.contact a:hover { color: #666; border-bottom: dashed 1px #000; }


/*
 * 03 - Page Home Event
 * ----------------------------------------------*/
div#home { width: 100%; position: absolute; }
div#home div.container { width: 1000px; padding: 140px 0 15px 0; margin: auto; }
div#home div.container div.description { width: 680px; padding: 0 10px; float: left; }
div#home div.container div.description p { display: block; margin-bottom: 10px; line-height: 170%; }
div#home div.container div.supporters { width: 300px; float: left; }
div#home div.container div.supporters div.top { width: 300px; height: 40px; float: left; background: url(../../images/bg/top-supporters.png) no-repeat; }
div#home div.container div.supporters div.top h1 { text-align: center; }
div#home div.container div.supporters div.brands { width: 268px; padding: 5px 0; float: left; margin: 0 15px; border-left: dashed 1px #706f6f; border-right: dashed 1px #706f6f;}
div#home div.container div.supporters div.brands h3 { width: 250px; padding: 7px 0; text-align: center; margin: 10px 9px; color: #000; border: dashed 1px #706f6f; font-weight: bold; float: left; }
div#home div.container div.supporters div.brands img.platinum { width: 250px; height: 100px; margin: 4px 9px; display: block;}
div#home div.container div.supporters div.brands img.gold { width: 120px; height: 72px; margin: 4px 7px; float: left;}
div#home div.container div.supporters div.brands img.silver { width: 120px; height: 50px; margin: 4px 7px; float: left;}
div#home div.container div.supporters div.brands img.bronze-support { width: 120px; height: 30px; margin: 4px 7px; float: left;} 
div#home div.container div.supporters div.bottom { width: 300px; height: 73px; float: left; background: url(../../images/bg/bottom-supporters.png) no-repeat; }

/*
 * 03 - Page Grid
 * ----------------------------------------------*/
div#grid { width: 100%; top: 3200px; position: absolute; }
div#grid div.container { width: 1000px; padding: 140px 0 15px 0; margin: auto; background: url(../../images/bg/speakers.png) repeat-y; }
div#grid div.container div.grid { width: 480px; float: left; margin: 0 10px; }
div#grid div.container div.grid h1 { text-align: center; }
div#grid div.container div.grid div.talk { width: 480px; padding: 5px 0; margin-bottom: 15px; border-bottom: dashed 1px #706f6f; }
div#grid div.container div.grid div.talk div.img-ico { width: 60px; height: 60px; float: left; clear: left; }
div#grid div.container div.grid div.talk div.hours { width: 60px; height: 60px; float: left; clear: left; font-size: 18px; color: #000; font-family: 'courier', Helvetica, Arial, Verdana; letter-spacing: -3px; text-align: center; margin-top: 5px; font-weight: bold; }
div#grid div.container div.grid div.talk h3 { width: 400px; padding-top: 21px; float: right; color: #000; font-weight: bold; }
div#grid div.container div.grid div.talk a.title { margin-top: 16px; font-size: 20px; letter-spacing: -1px; font-family: 'courier', Helvetica, Arial, Verdana; width: 400px; float: right; color: #000; font-weight: bold; clear: right; }
div#grid div.container div.grid div.talk a { font-size: 18px; letter-spacing: -1px; font-family: 'courier', Helvetica, Arial, Verdana; width: 400px; float: right; color: #000; font-weight: bold; clear: right; }
div#grid div.container div.grid div.talk a:hover { text-decoration: underline; }
div#grid div.container div.grid div.talk p { width: 400px; float: right; clear: right; }
div#grid div.container div.grid-saturday { width: 480px; float: right; margin: 0 10px; }
div#grid div.container div.grid-saturday h1 { text-align: center; }
div#grid div.container div.grid-saturday div.talk { width: 480px; padding: 5px 0; margin-bottom: 15px; border-bottom: dashed 1px #706f6f; }
div#grid div.container div.grid-saturday div.talk div.img-ico { width: 60px; height: 60px; float: right; clear: right; }
div#grid div.container div.grid-saturday div.talk div.hours { width: 60px; height: 60px; float: right; clear: right; font-size: 18px; color: #000; font-family: 'courier', Helvetica, Arial, Verdana; letter-spacing: -3px; text-align: center; margin-top: 5px; font-weight: bold; }
div#grid div.container div.grid-saturday div.talk h3 { width: 400px; padding-top: 21px; float: left; color: #000; font-weight: bold; clear: left; text-align: right; }
div#grid div.container div.grid-saturday div.talk a.title { margin-top: 16px; font-size: 20px; letter-spacing: -1px; font-family: 'courier', Helvetica, Arial, Verdana; width: 400px; float: left; color: #000; font-weight: bold; clear: left; text-align: right; }
div#grid div.container div.grid-saturday div.talk a { font-size: 18px; letter-spacing: -1px; font-family: 'courier', Helvetica, Arial, Verdana; width: 400px; float: left; color: #000; font-weight: bold; clear: left; text-align: right; }
div#grid div.container div.grid-saturday div.talk a:hover { text-decoration: underline; }
div#grid div.container div.grid-saturday div.talk p { width: 400px; float: left; clear: left; }

/*
 * 03 - Page speakers
 * ----------------------------------------------*/
div#speakers { width: 100%; top: 6200px; position: absolute; }
div#speakers div.container { width: 1000px; padding: 140px 0 15px 0; margin: auto; }
div#speakers div.container ul { display: block; padding: 10px; margin-bottom: 10px; }
div#speakers div.container ul.list-saturday { display: block; }
div#speakers div.container ul.list-saturday img { float: right; margin: 0 0 5px 10px; }
div#speakers div.container ul.list-saturday a { float: right; margin: 10px 0; }
div#speakers div.container ul.list-saturday h1 { float: right; }
div#speakers div.container ul.list-saturday p { float: right; width: 830px; text-align: right; }
div#speakers div.container li { border-bottom: dashed 1px #706f6f; padding: 10px;  }
div#speakers div.container img { float: left; margin: 0 10px 5px 0; }
div#speakers div.container p { float: right; width: 830px; }
div#speakers div.container a { border: dashed 1px #706f6f; padding: 3px 5px; margin: 10px 10px 0 0; float: left; color: #000; }
div#speakers div.container a:hover { background: #fff; }
div#speakers div.container a.twitter-speaker { width: 32px; height: 32px; text-indent: -9999px; float: left; background: url(../../images/nav/key_t.png) no-repeat; border: none; margin: 9px 0 4px 0px; }
div#speakers div.container a.blog-speaker { width: 32px; height: 32px; text-indent: -9999px; float: left; background: url(../../images/nav/key_b.png) no-repeat; border: none; margin: 9px 0 4px 0; }

/*
 * 03 - Page Registration
 * ----------------------------------------------*/
div#registration { width: 100%; top: 10200px; position: absolute; }
div#registration div.container { width: 1000px; padding: 140px 0 15px 0; margin: auto; }
div#registration div.container p { margin: 10px 0;}

/*
 * 0 - Footer
 * ----------------------------------------------*/
div#footer { width: 100%; height: 200px; position: absolute; top: 12200px; }
