@charset "utf-8";
/*-----------------------------------------------
 * Desenvolvido por Zigotto.com.br - 2011 -------
 * contato@zigotto.com.br | +55 (12) 3942.8874 --
 * ---------------------------------------------*/

/*
 * Reference
 * ----------------------------------------------
 *
 * 01 - Global
 *
 * -----------------------------------------------*/

/*
 * 01 - Global
 * ----------------------------------------------*/
* { margin: 0; padding: 0; outline: none; }
body { background: url(../../images/bg/body.png); font: 14px/150% "Helvetica", Arial, Verdana; color: #666; }

